.git/
.github/
.continue/
.vscode/
.DS_Store
Thumbs.db
*.md
.env
.env.*
!.env.example
/vendor/
node_modules/
storage/logs/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/*.php
tests/
phpunit.xml
.phpunit.result.cache
dockerfile.yml
docker-compose*.yml
*.log
.history/
auth.json
